body {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Roboto', Times, serif;
}

header {
    text-align: center;
}

h1 {
    color: #005677;
    background-color: #c4c4c4;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;  
}

.subtitle {
    color: #005677;
    background-color: #c4c4c4;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;   
}

.titleList {
    font-weight: bold;
    font-style: italic;
}

.elemento {
    font-style: normal;
    font-weight: normal;
}

.number {
    
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

main {
    margin-top: 100px;
    margin-bottom: 120px;
}

footer {
    color: white;
    background-color: #005677 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerText {
    margin: 10px;
}

.redSocial {
    margin: 10px;
}